/* 
    Document   : init
    Created on : 30-09-2015, 09:58:11 AM
    Author     : 17558919-8
    Description:
        Purpose of the stylesheet follows.
*/

@import url('../fonts/Montserrat-Regular.ttf');
@import url('../fonts/Montserrat-Bold.ttf');


body > .container-fluid {
  padding: 160px 15px 0;
}


.navbar-default {
    background-color: #fff !important;
}

.top-nav-collapse{
    background-color: #e13139 !important;
}

.top-nav-collapse  ul > li a{
    color: #fff !important;
}

.top-nav-collapse  ul > li a:hover{
    color: #fff !important;
}

.top-nav-collapse  ul > li> .hvr-underline-reveal:before{
    background: #fff !important;
}

.navbar-default .navbar-nav > li > a{
    /*color: #fff !important;*/
}

.jumbotron{
    background-image: url('../images/portada_ajuste1.jpg');
    background-repeat:none;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    height: 600px;
    color: #fff !important;
}

.jumbotron > h1{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 75px;
    font-weight: 700;
}

.menu > li > a{
    color:#e13139 !important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}


.contenido_uno{
    height: 300px;
    background-color: #666; 
    padding: 5px;
}

#menu-auxiliar  li > a{
    color:#a2a2a2 !important;
    font-size: 12px;
}

#menu-auxiliar  li > a:hover{
    color:#737373 !important;
}

.menu > li > a:hover{
    color:#e13139 !important;
}

.hvr-underline-reveal:before {
    background: #e13139 !important;
    height: 4px !important;
}