/* 
    Document   : init
    Created on : 30-09-2015, 09:58:11 AM
    Author     : 17558919-8
    Description:
        Purpose of the stylesheet follows.
*/

@import url('../fonts/Montserrat-Regular.ttf');
@import url('../fonts/Montserrat-Bold.ttf');

.navbar-default {
    background-color: transparent !important;
}

.top-nav-collapse{
    background-color: #2385a1 !important;
}

.navbar-default .navbar-nav > li > a{
    color: #fff !important;
}

.jumbotron{
    background-image: url('../images/portada_ajuste1.jpg');
    background-repeat:none;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    height: 600px;
    color: #fff !important;
}

.jumbotron > h1{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 75px;
    font-weight: 700;
}

.menu > li > a{
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}