/* 
    Document   : init
    Created on : 30-09-2015, 09:58:11 AM
    Author     : 17558919-8
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.navbar-default {
    background-color: transparent !important;
}
.navbar-default .navbar-nav > li > a{
    color: #fff !important;
}

.jumbotron{
    background-image: url('../images/portada_ajuste1.jpg');
    background-repeat:none;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    height: 600px;
    color: #fff !important;
}